<%= form_with(model: [@chat, Message.new], local: false, data: { chat_id: @chat.id }) do |form| %>
  <div>
    <%= form.text_area :content, rows: 3, id: "message_input" %>
  </div>
  <div>
    <%= form.submit "Отправить", id: "send_button" %>
  </div>
  <div id="messages">
    <%= render @messages %>
  </div>
<% end %>